.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .loginForm {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  .logoContainer {
    margin-bottom: 2rem;
  }
  
  .formGroup {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  
  .formGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .loginBtnMain {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1rem;
  }
  
  .loginBtnMain:hover {
    background-color: #212529;
  }
  
  .signupRedirect {
    margin-top: 1.5rem;
    font-size: 14px;
    color: #333;
  }
  
  .signupBtn {
    background: none;
    border: none;
    color: #212529;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signupBtn:hover {
    text-decoration: underline;
  }
  